In [3]:
ruta = "datasets/us_births.csv"

In [4]:
with open(ruta) as f:
    births = f.readlines()
f.close()

In [6]:
births[:100]

['year,month,date_of_month,day_of_week,births\n',
 '1994,1,1,6,8096\n',
 '1994,1,2,7,7772\n',
 '1994,1,3,1,10142\n',
 '1994,1,4,2,11248\n',
 '1994,1,5,3,11053\n',
 '1994,1,6,4,11406\n',
 '1994,1,7,5,11251\n',
 '1994,1,8,6,8653\n',
 '1994,1,9,7,7910\n',
 '1994,1,10,1,10498\n',
 '1994,1,11,2,11706\n',
 '1994,1,12,3,11567\n',
 '1994,1,13,4,11212\n',
 '1994,1,14,5,11570\n',
 '1994,1,15,6,8660\n',
 '1994,1,16,7,8123\n',
 '1994,1,17,1,10567\n',
 '1994,1,18,2,11541\n',
 '1994,1,19,3,11257\n',
 '1994,1,20,4,11682\n',
 '1994,1,21,5,11811\n',
 '1994,1,22,6,8833\n',
 '1994,1,23,7,8310\n',
 '1994,1,24,1,11125\n',
 '1994,1,25,2,11981\n',
 '1994,1,26,3,11514\n',
 '1994,1,27,4,11702\n',
 '1994,1,28,5,11666\n',
 '1994,1,29,6,8988\n',
 '1994,1,30,7,8096\n',
 '1994,1,31,1,10765\n',
 '1994,2,1,2,11755\n',
 '1994,2,2,3,11483\n',
 '1994,2,3,4,11523\n',
 '1994,2,4,5,11677\n',
 '1994,2,5,6,8991\n',
 '1994,2,6,7,8309\n',
 '1994,2,7,1,10984\n',
 '1994,2,8,2,12152\n',
 '1994,2,9,3,11515\n',
 '1994,2,10,4,11623\n',
 '1994,2,11,5,11517\n',
 '1994,2,12,6,8945\n',
 '1994,2,13,7,8171\n',
 '1994,2,14,1,11551\n',
 '1994,2,15,2,12164\n',
 '1994,2,16,3,12009\n',
 '1994,2,17,4,11674\n',
 '1994,2,18,5,11887\n',
 '1994,2,19,6,8946\n',
 '1994,2,20,7,8402\n',
 '1994,2,21,1,10617\n',
 '1994,2,22,2,11810\n',
 '1994,2,23,3,11776\n',
 '1994,2,24,4,11667\n',
 '1994,2,25,5,11905\n',
 '1994,2,26,6,8988\n',
 '1994,2,27,7,8195\n',
 '1994,2,28,1,11091\n',
 '1994,3,1,2,12127\n',
 '1994,3,2,3,11735\n',
 '1994,3,3,4,11984\n',
 '1994,3,4,5,12066\n',
 '1994,3,5,6,9215\n',
 '1994,3,6,7,8389\n',
 '1994,3,7,1,10996\n',
 '1994,3,8,2,12275\n',
 '1994,3,9,3,11780\n',
 '1994,3,10,4,11792\n',
 '1994,3,11,5,11939\n',
 '1994,3,12,6,9087\n',
 '1994,3,13,7,8248\n',
 '1994,3,14,1,11092\n',
 '1994,3,15,2,12298\n',
 '1994,3,16,3,11865\n',
 '1994,3,17,4,11976\n',
 '1994,3,18,5,11799\n',
 '1994,3,19,6,8944\n',
 '1994,3,20,7,8243\n',
 '1994,3,21,1,11140\n',
 '1994,3,22,2,11964\n',
 '1994,3,23,3,11637\n',
 '1994,3,24,4,11904\n',
 '1994,3,25,5,11568\n',
 '1994,3,26,6,8957\n',
 '1994,3,27,7,8189\n',
 '1994,3,28,1,11051\n',
 '1994,3,29,2,12154\n',
 '1994,3,30,3,11540\n',
 '1994,3,31,4,11782\n',
 '1994,4,1,5,10630\n',
 '1994,4,2,6,8782\n',
 '1994,4,3,7,7530\n',
 '1994,4,4,1,10909\n',
 '1994,4,5,2,11876\n',
 '1994,4,6,3,11811\n',
 '1994,4,7,4,11718\n',
 '1994,4,8,5,11532\n',
 '1994,4,9,6,8791\n']

In [7]:
births[0]

'year,month,date_of_month,day_of_week,births\n'

In [9]:
births[0].replace("\n","").split(',')

['year', 'month', 'date_of_month', 'day_of_week', 'births']

In [10]:
births = [i.replace("\n","").split(',') for i in births]

In [11]:
headers = births[0]
births = births[1:]

In [12]:
headers

['year', 'month', 'date_of_month', 'day_of_week', 'births']

In [13]:
births[:10]

[['1994', '1', '1', '6', '8096'],
 ['1994', '1', '2', '7', '7772'],
 ['1994', '1', '3', '1', '10142'],
 ['1994', '1', '4', '2', '11248'],
 ['1994', '1', '5', '3', '11053'],
 ['1994', '1', '6', '4', '11406'],
 ['1994', '1', '7', '5', '11251'],
 ['1994', '1', '8', '6', '8653'],
 ['1994', '1', '9', '7', '7910'],
 ['1994', '1', '10', '1', '10498']]

In [28]:
# cargar archivo como parámetro
# Convierte archivo en una lista de listas
# Convierte numeros en ints
# Crea una nueva lista de listas pero con nùmeros
# Devuelve una lista

def devuelve_lista(ruta):
    with open(ruta) as f:
        lista = f.readlines()
    f.close()
    # convertir en lista de listas
    lista_str = [i.replace('\n',"").split(',') for i in lista][1:]
    
    #convertir los strings a numeros
    lista_final=[]
    for row in lista_str:
        nueva_lista = [int(i) for i in row]
        lista_final.append(nueva_lista)
    #devolver una lista
    return lista_final
    
data = devuelve_lista(ruta)

In [42]:
data[:10]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910],
 [1994, 1, 10, 1, 10498]]

In [44]:
def nacimientos_mes(data):
    # definir guardar información final
    nacimientos = {}
    for row in data:
        mes = row[1]
        nac = row[4]
        if mes in nacimientos:
            nacimientos[mes] = nacimientos[mes] + nac
        else:
            nacimientos[mes] = nac
    return nacimientos

In [45]:
por_mes = nacimientos_mes(data)

In [46]:
por_mes

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}