In [1]:
import csv

In [2]:
%ls

 El volumen de la unidad C no tiene etiqueta.
 El número de serie del volumen es: 7EF8-8CDE

 Directorio de C:\Users\Estudiantes\Python

03/10/2019  06:42    <DIR>          .
03/10/2019  06:42    <DIR>          ..
03/10/2019  06:37    <DIR>          .ipynb_checkpoints
20/09/2019  02:19            13.747 04-01-Lambdas-Map-Filter.ipynb
08/09/2019  03:24            27.805 04-02 Ejercicio _ US Births.ipynb
22/06/2016  11:15               195 BullseyeCoverageError.txt
10/11/2018  01:15    <DIR>          datasets
18/03/2017  08:29             3.034 ejercicio1.sql
03/10/2019  06:32         7.424.182 Ejercicios.zip
13/12/2016  08:51               183 formato.txt
03/10/2019  06:42             1.044 Muertes por armas.ipynb
               7 archivos      7.470.190 bytes
               4 dirs   4.008.251.392 bytes libres

In [3]:
source = "./datasets/guns.csv"

In [4]:
with open (source,"r") as f:
    
    reader = csv.reader(f)
    raw_data = list(reader)

In [6]:
raw_data[0:5]

[['',
  'year',
  'month',
  'intent',
  'police',
  'sex',
  'age',
  'race',
  'hispanic',
  'place',
  'education'],
 ['1',
  '2012',
  '01',
  'Suicide',
  '0',
  'M',
  '34',
  'Asian/Pacific Islander',
  '100',
  'Home',
  'BA+'],
 ['2',
  '2012',
  '01',
  'Suicide',
  '0',
  'F',
  '21',
  'White',
  '100',
  'Street',
  'Some college'],
 ['3',
  '2012',
  '01',
  'Suicide',
  '0',
  'M',
  '60',
  'White',
  '100',
  'Other specified',
  'BA+'],
 ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', 'BA+']]

In [7]:
headers = raw_data[0]
gun_data = raw_data[1:]

In [8]:
headers

['',
 'year',
 'month',
 'intent',
 'police',
 'sex',
 'age',
 'race',
 'hispanic',
 'place',
 'education']

In [45]:

# busca en la columna los intent

intent = [i[3] for i in gun_data]

In [46]:
set(intent)

{'Accidental', 'Homicide', 'NA', 'Suicide', 'Undetermined'}

In [22]:
#cuente las muertes por año

annos = [i[1] for i in gun_data]

muertes_por_ano = {}

for j in annos:
    if j not in muertes_por_ano:
        muertes_por_ano[j] = 1
    else:
        # tiene que existir al menos uno para poder sumar
        muertes_por_ano[j] = muertes_por_ano[j] + 1

        
      
muertes_por_ano

{'2012': 33563, '2013': 33636, '2014': 33599}

In [13]:
annos

{'2012', '2013', '2014'}

In [23]:
import datetime

In [24]:
dates = [datetime.datetime()]

TypeError: function missing required argument 'year' (pos 1)

In [25]:
fecha = datetime.datetime(year = 2019 , month = 2, day = 12)

In [26]:
fecha

datetime.datetime(2019, 2, 12, 0, 0)

In [27]:
type(fecha)

datetime.datetime

In [28]:
fecha.day

12

In [30]:
dates = [datetime.datetime(year = int(row[1]), month = int(row[2]), day = 1) for row in gun_data]

In [32]:
dates[:10]

[datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0),
 datetime.datetime(2012, 3, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0)]

In [33]:
date_counts = {}
for date in dates:
    if date not in date_counts:
        date_counts[date]=0
    date_counts[date]+=1
    
date_counts

{datetime.datetime(2012, 1, 1, 0, 0): 2758,
 datetime.datetime(2012, 2, 1, 0, 0): 2357,
 datetime.datetime(2012, 3, 1, 0, 0): 2743,
 datetime.datetime(2012, 4, 1, 0, 0): 2795,
 datetime.datetime(2012, 5, 1, 0, 0): 2999,
 datetime.datetime(2012, 6, 1, 0, 0): 2826,
 datetime.datetime(2012, 7, 1, 0, 0): 3026,
 datetime.datetime(2012, 8, 1, 0, 0): 2954,
 datetime.datetime(2012, 9, 1, 0, 0): 2852,
 datetime.datetime(2012, 10, 1, 0, 0): 2733,
 datetime.datetime(2012, 11, 1, 0, 0): 2729,
 datetime.datetime(2012, 12, 1, 0, 0): 2791,
 datetime.datetime(2013, 1, 1, 0, 0): 2864,
 datetime.datetime(2013, 2, 1, 0, 0): 2375,
 datetime.datetime(2013, 3, 1, 0, 0): 2862,
 datetime.datetime(2013, 4, 1, 0, 0): 2798,
 datetime.datetime(2013, 5, 1, 0, 0): 2806,
 datetime.datetime(2013, 6, 1, 0, 0): 2920,
 datetime.datetime(2013, 7, 1, 0, 0): 3079,
 datetime.datetime(2013, 8, 1, 0, 0): 2859,
 datetime.datetime(2013, 9, 1, 0, 0): 2742,
 datetime.datetime(2013, 10, 1, 0, 0): 2808,
 datetime.datetime(2013, 11, 1, 0, 0): 2758,
 datetime.datetime(2013, 12, 1, 0, 0): 2765,
 datetime.datetime(2014, 1, 1, 0, 0): 2651,
 datetime.datetime(2014, 2, 1, 0, 0): 2361,
 datetime.datetime(2014, 3, 1, 0, 0): 2684,
 datetime.datetime(2014, 4, 1, 0, 0): 2862,
 datetime.datetime(2014, 5, 1, 0, 0): 2864,
 datetime.datetime(2014, 6, 1, 0, 0): 2931,
 datetime.datetime(2014, 7, 1, 0, 0): 2884,
 datetime.datetime(2014, 8, 1, 0, 0): 2970,
 datetime.datetime(2014, 9, 1, 0, 0): 2914,
 datetime.datetime(2014, 10, 1, 0, 0): 2865,
 datetime.datetime(2014, 11, 1, 0, 0): 2756,
 datetime.datetime(2014, 12, 1, 0, 0): 2857}

In [39]:
def counts_columns(column):
    counts = {}
    for row in column:
        if row not in counts:
            counts[row] = 0
        counts[row] +=1
    return counts

In [41]:
counts_columns(gun_data[8])

{'9': 1,
 '2012': 1,
 '02': 1,
 'Accidental': 1,
 '0': 1,
 'M': 1,
 '50': 1,
 'White': 1,
 '100': 1,
 'Other specified': 1,
 'Some college': 1}

In [48]:
def filter_counts_by_col(col1, col2, value):
    counts = {}
    for i, v in enumerate(col):
        if v not in counts:
            counts[v] = 0
        if col2[i] == value:
            counts[v]+=1
    return counts

In [49]:
#filter_counts_by_col(races, intents,"Suicide")