## Funciones

In [6]:
def f1():
    print ("dentro f1")
    
def f2(y):
    print ("dentro f2")
    return y
    
def f3(z):
    print ("dentro f3")
    return z()


print (f1())
print (5+f2(2))
print (f3(f1))

dentro f1
None
dentro f2
7
dentro f3
dentro f1
None

In [8]:
x = 10
def nueva_funcion():
    global x  # esto modifica el scope de fuera de la función , no debería de hacerse Forzar la variable
    x = 5
    return x

print(nueva_funcion())
print (x)

5
5

In [10]:
def f(a=4,b=5,c="a",d=7):
    print (a,b,c,d)

f()

4 5 a 7

In [14]:
def printNames(nombre='',apellido='', inverso=True):
    if inverso:
         print (apellido,',',nombre)
    else:
         print (nombre,',',apellido)

In [15]:
printNames("Julio","Solis",False)

Julio , Solis

*args o **kwargs

In [18]:
def sumar(*args):
    return sum(args)


sumar(2,4,5,6)

17

In [21]:
def multiplicar(**kwargs):
    return kwargs

multiplicar(n=1, n2=2)

{'n': 1, 'n2': 2}

In [22]:
def printNames(nombre='',apellido='', inverso=True):
    '''
    Author: Julio Solis
    fecha: 19/09/2019
    
    input: 
        nombre: string Nombre de Persona
        apellido: string Apellido de Persona
        inverso: bool orden mostrar info
        return un string inverso
    '''
    if inverso:
         print (apellido,',',nombre)
    else:
         print (nombre,',',apellido)

In [23]:
help(printNames)

Help on function printNames in module __main__:

printNames(nombre='', apellido='', inverso=True)
    Author: Julio Solis
    fecha: 19/09/2019

    input:
        nombre: string Nombre de Persona
        apellido: string Apellido de Persona
        inverso: bool orden mostrar info
        return un string inverso

In [24]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## Adicionales

In [25]:
lista_1 = ["Andres", "Felipe", "Juan"]

In [26]:
lista_2 = ["Masis" , "Acuna", "Perez"]

In [27]:
list(zip(lista_1, lista_2))

[('Andres', 'Masis'), ('Felipe', 'Acuna'), ('Juan', 'Perez')]

In [28]:
for nombre, apellido in zip(lista_1,lista_2):
    print ("El nombre es {} y el apellido {}".format(nombre, apellido))

El nombre es Andres y el apellido Masis
El nombre es Felipe y el apellido Acuna
El nombre es Juan y el apellido Perez

## Lambda Functions

In [29]:
def cuadrado(n):
    cuadrado = n**2
    return cuadrado

lambda n: n**2

In [31]:
lista = [0,5,10,15,20,25]

nueva_lista = []
for i in lista:
    nueva_lista.append(i**2)
    
nueva_lista

[0, 25, 100, 225, 400, 625]

In [33]:
nueva_lista = [i**2 for i in lista]

nueva_lista

[0, 25, 100, 225, 400, 625]

In [34]:
list(map(cuadrado,lista))

[0, 25, 100, 225, 400, 625]

In [35]:
numeros = list(range(100))

In [36]:
list(map(lambda n:n**2, numeros))

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [37]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [38]:
def es_par(n):
    return n%2==0

In [39]:
nueva = []
for i in numeros:
    if es_par(i):
        nueva.append(i)

In [41]:
list(filter(es_par, numeros))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]