# Clase 2 
## Lenguajes análisis de datos

<h5>Teoría</h5>

<ol>Tipos de Datos</ol>
<li>Strings</li>

<h2>Formatting</h2>

In [3]:
w = 'julio solis'

In [4]:
print(w)

julio solis

In [12]:
print ("Esto es {} ".format(w))

Esto es julio solis

In [20]:
manzana = 120.00
naranja = 250.00

print('{0:8} │ {1:5}  {2:8}  {3:8}'.format('Frutas','Cantidad', 'Precio', 'Total'))
print('{0:8} │ {1:5}  {2:8}  {3:8}'.format('Manzanas',3,manzana,3*manzana))
print('{0:8} │ {1:5}  {2:8}  {3:8}'.format('Narajas',10,naranja,10*naranja))

Frutas   │ Cantidad  Precio    Total
Manzanas │     3     120.0     360.0
Narajas  │    10     250.0    2500.0

<h2>LISTS</2>

In [21]:
mi_lista = {1,"2",3}

In [22]:
otra_lista=['Andres','Carlos','Laura','Patricia']

In [23]:
otra_lista[1:2]

['Carlos']

In [24]:
print(otra_lista)
otra_lista

['Andres', 'Carlos', 'Laura', 'Patricia']

['Andres', 'Carlos', 'Laura', 'Patricia']

In [25]:
otra_lista * 2

['Andres',
 'Carlos',
 'Laura',
 'Patricia',
 'Andres',
 'Carlos',
 'Laura',
 'Patricia']

In [30]:
mi_lista.pop()

1

In [31]:
mi_lista

{'2', 3}

In [32]:
mi_lista.add(4)

In [33]:
mi_lista

{'2', 3, 4}

<h2>Dictionaries</h2>

In [37]:
mi_dict = {'a':1,'b':3,'c':[200,300,400]}

In [35]:
mi_dict

{'a': 1, 'b': 3, 'c': 200}

In [36]:
mi_dict['b']

3

In [38]:
mi_dict['c']

[200, 300, 400]

In [40]:
mi_dict['c'][1]

300

In [41]:
animales = {}

In [42]:
animales['dict'] = {'a':1}

In [43]:
notas_de_clase = {'andres':{'notas_tarea':[100,90,90],'notas_examen':[90,95]},
                    'kevin':{'notas_tarea':[100,90,90],'notas_examen':[90,95]}}

In [44]:
notas_de_clase

{'andres': {'notas_tarea': [100, 90, 90], 'notas_examen': [90, 95]},
 'kevin': {'notas_tarea': [100, 90, 90], 'notas_examen': [90, 95]}}

In [46]:
notas_de_clase.keys()

dict_keys(['andres', 'kevin'])

In [47]:
notas_de_clase.items()

dict_items([('andres', {'notas_tarea': [100, 90, 90], 'notas_examen': [90, 95]}), ('kevin', {'notas_tarea': [100, 90, 90], 'notas_examen': [90, 95]})])

In [48]:
notas_de_clase.values()

dict_values([{'notas_tarea': [100, 90, 90], 'notas_examen': [90, 95]}, {'notas_tarea': [100, 90, 90], 'notas_examen': [90, 95]}])

## Tuples

In [49]:
t = (23,45,1,67)

In [50]:
t

(23, 45, 1, 67)